.introduce {
    margin: var(--header-height) 160px;

    @media screen and (max-width: 830px) {
        height: 80vh;
        margin: var(--header-height) 20px;
    }
}
.intro {
    padding-top: 30px;

    span:nth-child(2){
        margin: 0 6px;
    }
    span:nth-child(3){
        color: var(--primary);
    }
}
.header {
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 500;
}
.bot{
    h3{
        font-weight: 500;
        margin: 16px 0;

        @media screen and (max-width: 830px) {
        font-size: 1.6rem;
    }
    }
    h5{
        font-weight: 400;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}